<%= form_for(@reserva) do |f| %>
  <% if @reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserva.errors.count, "error") %> Prohibe que la reserva sea guardada:</h2>

      <ul>
      <% @reserva.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% deportes.each do |line| %>
      <%= line %>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha%>
  </div>
    <div class="field">
      <%= f.label :deporte %><br />
      <%= f.select :deporte, deportes %>
    </div>
  <div class="field">
    <%= f.label :hora %><br />
    <%= f.select :hora, horas, :prompt => "Seleccione una hora" %>
  </div>
  <div class="field">
    <% f.hidden_field :id_user, :value => get_id%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
