<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @reserva.fecha %>
</p>

<p>
  <b>Hora:</b>
  <%= @reserva.hora %>
</p>


<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
