<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @reserva.fecha %>
</p>

<p>
  <b>Hora:</b>
  <%= @reserva.hora %>
</p>


Invitar gente

  <%# @users.each do |user| %>
    <table>
      <tr>
        <td>nombre</td>
        <td><%= link_to "invitar" %></td>
      </tr>
    </table>


<%= link_to 'Editar', edit_reserva_path(@reserva) %> |
<%= link_to 'Atras', reservas_path %>
