<%= form_for(@invitacione) do |f| %>
  <% if @invitacione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitacione.errors.count, "error") %> prohibited this invitacione from being saved:</h2>

      <ul>
      <% @invitacione.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :reserva_id %><br />
    <%= f.text_field :reserva_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
