<h1>Invitaciones</h1>
   <div class="user_profile">
    <div class="user_info">
        <h2> Gente a invitar  (<%= @users.count %>) </h2>
        <table>
           <tr>
                <th>Nombre de Usuario</th>
                <th>Correo</th>
                <th>Opciones</th>
           </tr>

           <%@users.each do |user| %>
                <tr>
                  <td><%= user.nombre %></td>
                  <td><%= user.correo %></td>
                  <td><%= link_to "Invitar", invitaciones_path(@invitacione, :reserva_id => params[:reserva], :user_id => user.id), :method => "post"  %></td>
                </tr>

            <% end %>

        </table>
    </div>
   </div>
    <div class="user_logo">
    <div class="user_info">
        <h2>Gente Invitada  (<%= @invitados.count %>)</h2>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Opciones</th>
            </tr>
            <% @invitados.each do |invitado| %>
                <tr>
                    <td><%= invitado.nombre %></td>
                    <td><%= invitado.correo %></td>
                    <td><%= link_to 'Eliminar', invitado, :confirm => 'Are you sure?', :method=> :delete  %></td>
                </tr>
            <% end %>
        </table>
    </div>
    </div>



<%= link_to 'Back', user_path(get_id) %>
